<nav class="pcoded-navbar">
  <div class="navbar-wrapper">
    <div class="navbar-brand header-logo">
      <a href="/" class="b-brand">
        <div class="b-bg">
          <i class="feather icon-trending-up"></i>
        </div>
        <span class="b-title">Datta Able</span>
      </a>
      <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
    </div>
    <div class="navbar-content scroll-div">
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item pcoded-menu-caption">
          <label>Navigation</label>
        </li>
        <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item {% if 'index' in segment %}active{% endif %}">
          <a href="/" class="nav-link ">
            <span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span>
          </a>
        </li>
        
        <li class="nav-item pcoded-menu-caption">
          <label>UI Element</label>
        </li>
        <li
          data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
          class="nav-item pcoded-hasmenu {% if 'basic_components' in parent %}active pcoded-trigger{% endif %}">
          <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                class="feather icon-box"></i></span><span class="pcoded-mtext">Components</span></a>
          <ul class="pcoded-submenu">
            <li class="{% if 'button' in segment %}active{% endif %}"><a href="{{url_for('pages_components_bc_button')}}" class="">Button</a></li>
            <li class="{% if 'badges' in segment %}active{% endif %}"><a href="{{url_for('pages_components_bc_badges')}}" class="">Badges</a></li>
            <li class="{% if 'breadcrumbs_&_pagination' in segment %}active{% endif %}"><a href="{{url_for('pages_components_bc_breadcrumb_pagination')}}" class="">Breadcrumb & paggination</a></li>
            <li class="{% if 'collapse' in segment %}active{% endif %}"><a href="{{url_for('pages_components_bc_collapse')}}" class="">Collapse</a></li>
            <li class="{% if 'navs_&_tabs' in segment %}active{% endif %}"><a href="{{url_for('pages_components_bc_tabs')}}" class="">Tabs & pills</a></li>
            <li class="{% if 'typography' in segment %}active{% endif %}"><a href="{{url_for('pages_components_bc_typography')}}" class="">Typography</a></li>


            <li class="{% if 'feather_icon' in segment %}active{% endif %}"><a href="{{url_for('pages_components_icon_feather')}}" class="">Feather<span
                  class="pcoded-badge label label-danger">NEW</span></a></li>
          </ul>
        </li>
        <li class="nav-item pcoded-menu-caption">
          <label>Forms & table</label>
        </li>
        <li data-username="form elements advance componant validation masking wizard picker select" class="nav-item {% if 'form_elements' in segment %}active{% endif %}">
          <a href="{{url_for('pages_form_elements')}}" class="nav-link "><span class="pcoded-micon"><i
                class="feather icon-file-text"></i></span><span class="pcoded-mtext">Form elements</span></a>
        </li>
        <li data-username="Table bootstrap datatable footable" class="nav-item {% if 'basic_tables' in segment %}active{% endif %}">
          <a href="{{url_for('pages_tbl_bootstrap')}}" class="nav-link "><span class="pcoded-micon"><i
                class="feather icon-server"></i></span><span class="pcoded-mtext">Table</span></a>
        </li>
        <li class="nav-item pcoded-menu-caption">
          <label>Chart & Maps</label>
        </li>
        <li data-username="Charts Morris" class="nav-item {% if 'morris_chart' in segment %}active{% endif %}"><a href="{{url_for('pages_chart_morris')}}" class="nav-link "><span
              class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
              class="pcoded-mtext">Chart</span></a>
        </li>
        <li data-username="Maps Google" class="nav-item {% if 'google_maps' in segment %}active{% endif %}"><a href="{{url_for('pages_map_google')}}" class="nav-link "><span
              class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Maps</span></a>
        </li>
        <li class="nav-item pcoded-menu-caption">
          <label>Pages</label>
        </li>
        <li
          data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe"
          class="nav-item pcoded-hasmenu">
          <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                class="feather icon-lock"></i></span><span class="pcoded-mtext">Authentication</span></a>
          <ul class="pcoded-submenu">
            <li class=""><a href="{{url_for('accounts_auth_signin')}}" class="" target="_blank">Sign up</a></li>
            <li class=""><a href="{{url_for('accounts_auth_signup')}}" class="" target="_blank">Sign in</a></li>
          </ul>
        </li>
        <li data-username="Profile Page" class="nav-item {% if 'profile' in segment %}active{% endif %}"><a href="{{url_for('pages_profile')}}" class="nav-link"><span
              class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">Profile
              Page</span></a>
        </li>
        <li data-username="Sample Page" class="nav-item {% if 'sample_page' in segment %}active{% endif %}"><a href="{{url_for('pages_sample_page')}}" class="nav-link"><span
              class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Sample
              page</span></a>
        </li>
        <li data-username="Disabled Menu" class="nav-item disabled"><a href="javascript:" class="nav-link"><span
              class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Disabled
              menu</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>